<div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="crop-card-pic"></div>
      <mat-card-title>Potato</mat-card-title>
      <mat-card-subtitle color="primary">Possible Pest risk</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>0kg of 1500kg</p>
      <p>4-4-2019 - 8-8-2020</p>
      <div>
        <mat-icon>cloud</mat-icon>
        <h3>81C --- 15km/h</h3> 
      </div>
      <p>Tasks for Next 7 days: 0</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Explore</button>
    </mat-card-actions>
  </mat-card>
</div>